.dragonCard {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 15rem;
  column-gap: 20px;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  box-shadow: 2px 2px 2px 4px #838383;
  margin: 30px 50px;
  border-radius: 10px;
}

.dragonImg {
  width: 25rem;
  height: 100%;
}

.dragonImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.dragonText {
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.reserved {
  background-color: cadetblue;
  width: 5rem;
  padding: 5px 10px;
  border-radius: 2rem;
  color: white;
}

.dragonText button {
  border: none;
  background-color: cornflowerblue;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  width: 170px;
}
