.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  justify-content: center;
  column-gap: 28%;
  background-color: white;
  width: 100%;
}

.logo {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
}

.logoImg {
  width: 80px;
  height: 50px;
}

.navBar {
  display: flex;
  gap: 20px;
}

.navLink {
  list-style: none;
  font-size: 24px;
}

.navLink a {
  text-decoration: none;
}

.myProfile {
  border-left: 1px solid black;
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .navBar {
    display: none;
  }

  .header {
    column-gap: 20%;
    justify-content: stretch;
  }
}

@media only screen and (max-width: 2560px) {
  .myLogo {
    display: none;
  }

  .navLink {
    font-size: 1rem;
  }

  .header {
    column-gap: 5%;
    justify-content: space-around;
  }

  .logo {
    font-size: 12px;
  }
}
